.bg {
  background-color: #020718;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.logo {
  margin: 32px 32px 38px 32px;
}